{
    margin: 10;
    padding: ;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: rgb(206, 30, 30);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
    font-size: 3em;
}
.grid-container {
    display: grid;
    grid-template-columns: auto(3, 1fr);
    padding: :10px;
    gap: 10px;
}
   
.grid-item {
    background-color: #176ff3;
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    border-radius:2px;
    font-size: 1.2em;
}
.grid-item:nth-child(odd) {
    background-color: #45faeb;
}

.grid-item:hover {
    background-color: #000000;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;    
}